.form {
    display: flex;
    flex-direction: column;
    max-width: 30em;
  }
  
  .formItem {
    padding: 1em;
    margin: 1em 0;
    flex-grow: 1;
    background-color: rgb(68, 68, 68);
    color: white;
}

button.formItem {
    background-color: rgb(143, 143, 143);
    color: white;
}

.formTextArea {
  @extend .formItem;
  min-height: 8em;
  color: white;
}

.arrayItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.buttonItem {
  width: 3rem;
  height: 3rem;
  flex-grow: 0;
  font-size: 1.5em;
  background-color: rgb(143, 143, 143);
  color: white;
}
